html{
    font-size: 22px;
}
body{
    background-color: #333;
    color: whitesmoke;
}
a{
    color:aliceblue;
}
a:visited{
    color: rgb(211, 211, 211);
}
a:hover{
    color: lightcoral;
}
a:active{
    color: rgb(122, 255, 155);
}
table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}